<p id="notice"><%= notice %></p>

<p>
  <strong>Manifestation:</strong>
  <%= link_to @dataset.manifestation.original_title, main_app.manifestation_path(@dataset.manifestation) %>
</p>

<%= link_to t('page.edit'), edit_dataset_path(@dataset) %> |
<%= link_to t('page.back'), datasets_path %>
