<p id="notice"><%= notice %></p>

<p>
  <strong>Enju ir dataset:</strong>
  <%= @fileset.enju_ir_dataset %>
</p>

<%= link_to 'Edit', edit_fileset_path(@fileset) %> |
<%= link_to 'Back', filesets_path %>
