---
http_interactions:
- request:
    method: post
    uri: https://api.test.datacite.org/dois
    body:
      encoding: UTF-8
      string: '{"data":{"id":"/edeb6498-b931-4c8c-aece-19375346bb55","type":"dois","attributes":{"event":"register","doi":null,"creators":null,"titles":null,"publisher":null,"publication_year":null,"types":null,"url":null,"schema_version":null}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic Og==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Sat, 02 Jan 2021 03:55:36 GMT
recorded_with: VCR 6.0.0
