---
http_interactions:
- request:
    method: post
    uri: https://api.test.datacite.org/dois
    body:
      encoding: UTF-8
      string: '{"data":{"id":null,"type":"dois","attributes":{"event":"register","doi":null,"creators":[],"titles":[{"title":"manifestation_title_1"}],"publisher":"[]","publicationYear":null,"types":null,"url":null,"schema_version":null}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic Og==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Sat, 13 Feb 2021 10:40:48 GMT
recorded_with: VCR 6.0.0
